<!--
  Generated template for the ShoppingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>shopping-list</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <!-- <ul class="list-group">
        <li class="list-group-item" *ngFor="let shoppingList of this.myShoppingsList" (click)="prepareForEditShoppingList(shoppingList)">{{shoppingList.name}} <i (click)="prepareForEditShoppingList(shoppingList)" class="glyphicon glyphicon-pencil action"></i><i class="glyphicon glyphicon-trash action" (click)="deleteShoppingList(shoppingList)"></i></li>
      </ul>
      <div *ngIf="shoppingListToEdit">
          <h4>Edition d'une liste de courses</h4>
          <div (click)="prepareForAddIngredient()" class="action"><i class="glyphicon glyphicon-plus"></i>Ajouter un nouvel ingredient</div>
          <input type="text" class="form-control" [(ngModel)]="shoppingListToEdit.name"/>
          <table class="table table-striped">
              <thead>
                <tr>
                  <td></td>
                  <th>Ingredients</th>
                  <th>Quantité</th>
                  <th>Unité</th>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ingredient of this.shoppingListToEdit.ingredientList">
                  <td>
                      <input type="checkbox" class="custom-control-input" (change)="selectIngredient($event, ingredient)">
                  </td>
                  <td>{{ingredient.name}}</td>
                  <td>{{ingredient.quantity}}</td>
                  <td>{{ingredient.unity | uppercase}}</td>
                  <td (click)="deleteIngredient(ingredient)"><i class="glyphicon glyphicon-trash"></i></td>
                </tr>
              </tbody>
              <button class="btn btn-primary" data-toggle="modal" data-target="#confirmModal" (click)="showValidation()">Valider</button>
            </table>
      </div> -->
      <ion-list>
            <button ion-item *ngFor="let shoppingList of this.myShoppingsList" (click)="prepareForEditShoppingList(shoppingList);" (swipe)="deleteShoppingList(shoppingList);">
                {{shoppingList.name}}
          </button>
        </ion-list>
</ion-content>
